body{
    background-color: orange;
}
ul.log a{
    margin: 20px;
    background-color: black;
    color: white;  
  }
  .log {
    background-color: black;
    margin: 0 0;
    border: 20px;
    padding: 20px;
    text-align: center;}
    .join{
        background: black;
        margin:0 0;
        padding: 10px;
    }
    footer{
        color: white;
        letter-spacing: 1px;
        text-align: center;
    }